<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    
</head>
    <body>       
       
        <div class="row-6" id="tabla">
            <TABLE> 
                <TR> 
                    <TD WIDTH="350" 
                    HEIGHT="100">
                    Leganes
                        <br>
                        Las Palmas
                    </TD> 
                    <TD WIDTH="350" 
                    HEIGHT="100">
                    <a href="/principal/#prueba" class="button">
                        3.19
                        <br>
                        Leganes
                    </a>
                    </TD> 
                    <TD WIDTH="350" 
                    HEIGHT="100">
                    <a href="/principal/#prueba" class="button">
                        1.12
                        <br>
                        Empate
                    </a>
                    </TD> 
                    <TD WIDTH="350" 
                    HEIGHT="100">
                    <a href="/principal/#prueba" class="button">
                        2.32
                        <br>
                        Las palmas
                    </a>
                    </TD> 
                </TR> 
                <TR> 
                    <TD WIDTH="350" 
                    HEIGHT="100">
                        Albacete
                        <br>
                        Numancia
                    </TD> 
                    <TD WIDTH="350" 
                    HEIGHT="100">
                    <a href="/principal/#prueba" class="button">
                        3.23
                        <br>
                        Albacete
                    </a>
                    </TD> 
                    <TD WIDTH="350" 
                    HEIGHT="100">
                    <a href="/principal/#prueba" class="button">
                        2.21
                        <br>
                        Empate
                    </a>
                    </TD> 
                    <TD WIDTH="350" 
                    HEIGHT="100">
                    <a href="/principal/#prueba" class="button">
                        4.12
                        <br>
                        Numancia
                    </a>
                    </TD> 
                </TR> 
                <TR> 
                    <TD WIDTH="350" 
                    HEIGHT="100">Racing
                        <br>
                        Tenerife
                    </TD> 
                    <TD WIDTH="350" 
                    HEIGHT="100">
                    <a href="/principal/#prueba" class="button">
                        2.23
                        <br>
                        Racing
                    </a>
                    </TD> 
                    <TD WIDTH="350" 
                    HEIGHT="100">
                    <a href="/principal/#prueba" class="button">
                        3.46
                        <br>
                        Empate
                    </a>
                    </TD> 
                    <TD WIDTH="350" 
                    HEIGHT="100">
                    <a href="/principal/#prueba" class="button">
                        1.98
                        <br>
                        Tenerife
                    </a>
                    </TD>  
                </TR> 
                <TR> 
                    <TD WIDTH="350" 
                    HEIGHT="100">Eibar
                        <br>
                        Lugo
                    </TD> 
                    <TD WIDTH="350" 
                    HEIGHT="100">
                    <a href="/principal/#prueba" class="button">
                        1.87
                        <br>
                        Eibar
                    </a>
                    </TD> 
                    <TD WIDTH="350" 
                    HEIGHT="100">
                    <a href="/principal/#prueba" class="button">
                        2.09
                        <br>
                        Empate
                    </a>
                    </TD> 
                    <TD WIDTH="350" 
                    HEIGHT="100">
                    <a href="/principal/#prueba" class="button">
                        3.78
                        <br>
                        Lugo
                    </a>
                    </TD>  
                </TR> 
                <TR> 
                    <TD WIDTH="350" 
                    HEIGHT="100">Salamanca UD
                        <br>
                        Ciudad Real
                    </TD> 
                    <TD WIDTH="350" 
                    HEIGHT="100">
                    <a href="/principal/#prueba" class="button">
                        1.23
                        <br>
                            Salamanca UD
                    </a>
                    </TD> 
                    <TD WIDTH="350" 
                    HEIGHT="100">
                    <a href="/principal/#prueba" class="button">
                        3.23
                        <br>
                        Empate
                    </a>
                    </TD> 
                    <TD WIDTH="350" 
                    HEIGHT="100">
                    <a href="/principal/#prueba" class="button">
                        2.34
                        <br>
                        Ciudad Real
                    </a>
                    </TD>   
                </TR> 
            </TABLE>
            <div class="overlay" id="prueba">
                <div class="wrapper">
                    <h5>Tu Apuesta</h5>
                    <a href="/principal">&times;</a>
                    <div class="content">
                        <div class="container">
                            <div  class="row-6" id="popup">
                              <form>
                                <p>Victoria del equipo</p>
                                <label>Importe apostar<input type="text"></label>

                                <p>Cuota final</p>
                                <p>calculo de la cuota</p>
                                <button type="submit">Apostar</button>

                              </form>  

                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </body>
</html>