
        #titdiv2{
            margin-bottom: 3%;
        }

        #tit2:hover {
            color: #979797;
        }
        #barra2{
            background: lightgrey;
            padding-top: 3% ;
        }
        #tit2{
            color: black;
            font-size: 200%;
            text-decoration: none;
        }
        

