<div class="d-flex justify-content-around" id="barra2">
    <div class="p-2 bd-highlight" id="titdiv2"><a id="tit2" aria-current="page">FÚTBOL</a></div>
    <div class="p-2 bd-highlight" id="titdiv2"><a id="tit2" aria-current="page">WATERPOLO</a></div>
    <div class="p-2 bd-highlight" id="titdiv2"><a id="tit2" aria-current="page">ESPORTS</a></div>
    <div class="p-2 bd-highlight" id="titdiv2"><a id="tit2" aria-current="page">AJEDREZ</a></div>
    <div class="p-2 bd-highlight" id="titdiv2"><a id="tit2" aria-current="page">BALONCESTO</a></div>
</div>

