

    #barra{
        background: #000000;
        padding-top: 3% ;
    }
    #tit{
        color: white;
        font-size: 200%;
        text-decoration: none;
    }
    #tit:hover {
        color: #979797;
    }             
    
    
    #tit:hover {
        color: #979797;
    }
        
        

