<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <title>MisApuestas</title>
    
</head>
<body>
    

    <div id="tusapu2">
        <a id="tusapu">TUS APUESTAS</a>
    </div>
    <div class="row" id="direct">
        <div class="col-3">
            <a id="dentroapu">NUMANCIA</a><br><br><br>
            <a id="dentroapu">ELCHE</a>
        </div>
        <div class="col-9" id="apuder">
            <a>VICTORIA NUMANCIA 2.10</a><br>
            <a>EN CURSO</a><img src="assets/img/punto rojo.png" id="ptoRojo">

        </div>
    </div>
    <div class="row" id="victoria">
        <div class="col-3">
            <a id="dentroapu">MATALASCAÑAS</a><br><br><br>
            <a id="dentroapu">PUERTA BONITA</a>
        </div>
        <div class="col-6" id="EMPATE">
            <a>EMPATE 1.90</a>
        </div>
        <div class="col-3" id="GANANCIAS">
            <a>GANANCIAS 19€</a>
        </div>
    </div>
    <div class=row id="derrota">
        <div class="col-3">
            <a id="dentroapu">ALGECIRAS FC</a><br><br><br>
            <a id="dentroapu">UD MURCIA</a>
        </div>
        <div class="col-6" id="EMPATE">
            <a>VICTORIA UD MURCIA 1.75</a>
        </div>
        <div class="col-3" id="GANANCIAS">
            <a>PERDIDA</a>
        </div>
    </div>
</body>
</html>