
    #tusapu{
        font-size: 250%;
    }
    #tusapu2{
        margin:2%;
    }
    #direct{
        background: black;
        border: solid 1px;
        padding: 1%;
    }
    #dentroapu{
        font-size: 250%;
        color: white;
    }
    #apuder{
        font-size: 250%;
        color: white;
        border-left: solid 1px white;
    }
    #victoria{
        margin-top: 3%;
        background: rgb(33, 174, 33);
        border: solid 1px;
        padding: 1%;
    }
    #GANANCIAS{
        font-size: 250%;
        color: white;
        padding-top: 4%;
    }
    #EMPATE{
        font-size: 250%;
        color: white;
        padding-top: 4%;
        padding-left: 5%;
        border-left: solid 1px white;
    }
    #derrota{
        margin-top: 3%;
        background:red ;
        border: solid 1px;
        padding: 1%;
    }
    #ptoRojo{
        height: 20%;
        width: 3%;
        margin-left: 1%;
        margin-bottom: 1%;
    }
